$navColor: #2E3136
$borderColor: #4c5059
$playerHeight: 150px
$navWidth: 200px
$eventsWidth: 300px

.player-root-container
  display: flex
  flex-direction: row
  width: 100%
  height: calc(100vh - 64px)
  background-color: #36393E

  .player-root-side-column
    flex-grow: 1

.player-center-container
  flex-grow: 2
  border-left: 1px solid #4c5059
  border-right: 1px solid #4c5059

.player-info-container
  display: flex

  height: calc(100% - #{$playerHeight} - 1px)

.player-info-container > div
  flex-grow: 1

.NavigationArea
  width: 100%
  height: 100%
  background-color: #2E3136

.EventsArea
  border-left: 1px solid #4c5059

.PlayerArea
  height: $playerHeight
  border-top: 1px solid #4c5059