@import "../../common/css/_vars"

$navColor: #2E3136
$borderColor: #4c5059
$playerHeight: 250px
$centerMaxWidth: 900px

.player-root
  display: flex
  height: calc(100vh - #{$headerHeight})
  justify-content: space-between
  background-color: #3c4046

  @media screen and (max-width: $breakSmall)
    // Header disappears
    height: 100vh

.NavigationArea
  width: 64px
  height: 100%
  background-color: #222427

.player-root__center
  flex-grow: 1

.player-root__center > div
  padding-left:  calc((100% - #{$centerMaxWidth}) / 2)
  padding-right: calc((100% - #{$centerMaxWidth}) / 2)
  @media screen and (max-width: 1000px)
    padding: 0

.PlayerArea
  height: $playerHeight
  background-color: #2e3136

.QueueArea
  height: calc(100% - #{$playerHeight})