$padding: 6px

.QueueItem
  width: calc(100% - #{$padding}*2)
  height: 50px
  padding: $padding
  display: flex
  justify-content: space-between

  .queue-item-cross
    color: #000
    opacity: 0

  .queue-item-body
    flex-grow: 1
    height: 100%
    display: inline-flex

    // TODO: Adapt for other sources
    .queue-item-image
      display: inline-block
      width: 91px
      height: 50px
      background-size: 91px

    .queue-item-inner
      padding-left: 8px
      color: white
      font-family: Lato, sans-serif

.QueueItem:hover > .queue-item
  opacity: 1